.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.go-back-text {
  margin-bottom: 20px;
  font-size: 16px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

.login-container {
  width: 50%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.password-input,
.email-input {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-button {
  background-color: #283618;
  color: #fff;
  font-size: 18px;
  padding: 12px;
  border: none;
  cursor: pointer;
}

.login-button:hover {
  background-color: rgba(4, 15, 27, 0.32);
}
