
@import './Components//Assets/LoginPage.css';
@import './Components/Assets/Navbar.css';
@import './Pages/Assets/ProductsPage.css';
@import './Pages/Assets/AddProducts.css';
@import './Pages/Assets/OrdersPage.css';
@import './Pages/Assets/ManageOrders.css';
@import './Pages/Assets/EditProduct.css';

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
  font-family: 'popins' serif;
}

div{
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
  font-family: 'popins', sans-serif;
}

img{
  margin: 0;
    padding: 0;
}