

.account-text{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
  letter-spacing: 2px;
  font-size: 20px;

}

.account-container{
  height: 510px;
  display: flex;
  width: 90%;
  margin: 0px 5%;
}
.account-left{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-form{
  height: 90%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px, rgba(0, 0, 0, 0.08) 0 0 6px,
    rgba(0, 0, 0, 0.06) 0 0 9px;
}

.account-input{
  width: 80%;
  height: 8%;
  padding: 5px;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 2px;
}

.account-submit{
  height: 10%;
}

.account-adress{
  height: 20%;
}
.account-right{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-container{
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px, rgba(0, 0, 0, 0.08) 0 0 6px,
    rgba(0, 0, 0, 0.06) 0 0 9px;
}

@media screen and (max-width: 768px) {
  .account-container{
    height: 450px;
    width: 100%;
    margin: 2px;
    margin-bottom: 40px;
  }
    .account-text{
      height: 70px;
    }
    .account-form{
      width: 100%;
    }
  }
  