.notification-wrapper{
    height: 80vh;
    width: 90%;
    margin: 2.5vh auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);

}

.notification-container{
    border: 2px solid rgba(0, 0, 0, 0.5) ;
    /* border: 1px solid black; */
    width: 90%;
    min-height: 20%;
    margin: 15px 0px;
    padding: 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.notification-text{
    /* border: 1px solid black; */
    width: 90%;
    margin: 0;
    padding: 0;

}

.notification-seen-button{
    width: 8%;
    height: 35%;
    border: none;
    color: white;
    background: black;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;

}

.disabled-seen-button{
    width: 8%;
    height: 35%;
}