.table {
  margin: 10px auto;
  /* border: 1px solid black; */
}
.error-message{
  margin: 20% 25%;
}
.table-thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.284);
  /* border: 1px solid black; */
  height: 14vh;

 
}

.table-tr{
}

.table-row {
  border: 1px solid rgba(0, 0, 0, 0.284);

}

.table-tbody{
  
}

.table-header {
  font-weight: 800;
  font-size: 15px;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  /* border: 1px solid black; */
}
.table-value {
  font-weight: 400;
  font-size: 15px;
  color: black;
  letter-spacing: 2px;
  text-align: center;
  /* border: 1px solid black; */
 
}
.table-add-bttn {
  background-color: rgba(128, 128, 128, 0.146);
  width: 80px;
  font-size: 12px;
  font-weight: 600;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.product-table-image {
  width: 70%;
  height: 50px;
}
