.product-card {
  width: 320px;
  height: 475px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 1px, rgba(0, 0, 0, 0.08) 0 0 1px,
    rgba(0, 0, 0, 0.06) 0 0 1px;
  border: 0.5px solid #d4a3732b;
  margin-top: 60px;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.product-card:hover {
  transform: scale(1.1);
 
}

.product-card-top {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-img {
  width: 100%;
  height: 100%;
}

.product-img img {
  width: 100%;
  height: 100%;
}

.product-card-bottom {
  width: 100%;
  height: 20%;
}

.product-name {
  font-weight: 400;
  font-size: 15px;
  color: #191c16;
  position: relative;
  top: 13%;
  left: 15px;
  width: 280px;
  letter-spacing: 1px;

}

.product-price {
  font-size: 15px;
  font-weight: 200;
  color: #191c16;
  position: relative;
  left: 15px;
  top: 10%;
  width: 20%;

}


@media screen and (max-width: 768px) {
  .product-card {
    margin-top: 20px;
    height: 480px;
  }
}
