.addcart-wraper {
  height: 100%;
  width: 100%;
  display: flex;

  position: relative;
  bottom: 50px;
}

.sizes-container {
  display: flex;
  position: absolute;
  bottom: 5px;
  right: 40px;
  transition: transform 0.3s ease;

}

.size-button {
  width: 27px;
  height: 27px;
  padding: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(204, 204, 204);
  margin-right: 10px;
  cursor: pointer;
  font-size: 11px;
  transition: transform 0.3s ease-in-out;
  font-weight: 400;
  border-radius: 17px;
  background: #e0e0e0;
  box-shadow:  10px 10px 49px #bcbcbc,
             -10px -10px 49px #ffffff;
}

.size-button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 2px, rgba(0, 0, 0, 0.08) 0 0 4px,
    rgba(0, 0, 0, 0.06) 0 0 6px;
  transform: scale(1.1);
}



.fa-bag-shopping {
  font-size: 20px;
  color: #283618;
  position: absolute;
  bottom: 10px;
  right: 20px;
  
}

.fa-bag-shopping:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 768px) {
  
}
